<h2>マイページ</h2>
<p>ユーザーID : <%= current_user.id%></p>
<%= link_to "アカウント編集", edit_user_registration_path %>
<p>予約履歴一覧</p>
<% @reservations.each do |reservation| %>
  <p>予約日 : <%= reservation.day.start_time%></p>
  <p>予約番号 : <%= reservation.id%></p>
  <p>予約人数 : 
    <%= reservation.count_person%>
  </p>
  <p>ステータス : <%= reservation.status_i18n %></p>
<% end %>
