<h2>予約カレンダー</h2>
<%#= render @days %>
<%= month_calendar events: @days do |date, days| %>
  <%= date.day %>
  <% days.each do |day| %>
    <%= link_to day_path(day) do%>
      <p>予約可能人数 : <%= day.capacity %></p>
    <% end %>
    <%= link_to "/reservation_of_day/#{day.id}" do%>
      <p>予約件数 : <%= day.reservations.count%></p>
    <% end %>
  <% end %>
<% end %>
<p><%= link_to "戻る", :back %></p>
<p><%= link_to "予約一覧", reservations_path%></p>
