<h2><%= @day.start_time%>の予約一覧</h2>
<% @reservations.each do |reservation| %>
  <p>予約番号 : <%= reservation.id%></p>
  <p>予約人数 : 
    <%= reservation.count_person%>
  </p>
  <p>ステータス : <%= reservation.status_i18n %></p>
  <%= link_to "予約変更", edit_reservation_path(reservation) %>
  <%= link_to 'キャンセル', "/reservations/#{reservation.id}", method: :patch, data: {confirm: "本当にキャンセルしてもよろしいですか?"} %>
  <%= link_to "日程変更", "/day_edit/#{reservation.id}" %>
<% end %>
