<h2>キャンセル人数</h2>
<p>予約日 : <%= @reservation.day.reservation_date%></p>
<p>予約人数 : <%= @reservation.count_person%> </p>
<%= form_with model: @reservation, local: true do |f| %>
  <%= f.hidden_field :count_person, value: @reservation.count_person %>
  <%= f.submit "キャンセルする" %>
<% end %>
